<template>
  <div class="box_model">
    <!-- 面包屑 -->
    <div data-v-61c94b1b="" class="breadcrumb_box">
      <div data-v-61c94b1b="" class="breadcrumb_list">
        <div
          aria-label="Breadcrumb"
          role="navigation"
          class="el-breadcrumb middle_text"
        >
          <span class="el-breadcrumb__item"
            ><span role="link" class="el-breadcrumb__inner is-link">面试</span
            ><span role="presentation" class="el-breadcrumb__separator"
              >/</span
            ></span
          ><span class="el-breadcrumb__item" aria-current="page"
            ><span role="link" class="el-breadcrumb__inner">面试记录</span
            ><span role="presentation" class="el-breadcrumb__separator"
              >/</span
            ></span
          >
        </div>
      </div>
    </div>
    <Loading :flag="loadFlag">
      <template #loading>
        <!-- 导航栏 -->
        <div class="box_nav">
          <dl class="box_nav_t">
            <dt>
              <b>专业：</b>
            </dt>
            <dd>
              <span
                :class="navListActive === 0 ? 'nAv' : ''"
                @click="changeActive(0)"
                >全部</span
              >
              <span
                v-for="(item, index) in navList"
                :key="item.id"
                :class="navListActive === index + 1 ? 'nAv' : ''"
                @click="changeActive(index + 1, item.parentId)"
                >{{ item.name }}</span
              >
            </dd>
          </dl>
          <dl class="box_nav_b">
            <dt><b>状态：</b></dt>
            <dd>
              <span
                v-for="(item, index) in navStatus"
                :key="index"
                :class="navStatusActive === index ? 'nAv' : ''"
                @click="changeStatus(item.status, index)"
                >{{ item.title }}</span
              >
            </dd>
          </dl>
        </div>
        <!-- 下方内容 -->
        <div class="box_content">
          <!-- 搜索inp -->
          <el-input
            v-model="params.searchTitle"
            placeholder="请输入内容"
            style="width: 300px; float: right; marginright: 51px"
            @keyup.enter="search"
            suffix-icon="el-icon-search"
          ></el-input>
          <SuperTable
            :data="tableData"
            :tableConfig="tableConfig"
            :fenYeTotal="total"
            @currentChange="currentChange"
          >
            <template #gangweimingcheng="{ scope }">
              <el-button
                @click="handleClick(scope.row)"
                type="text"
                size="small"
                >{{ scope.row.stationName }}</el-button
              >
            </template>
            <template #mianshijieguo="{ scope }">
              <span>{{
                navStatus.find((item) => item.status === scope.row.status + "")
                  .title
              }}</span>
            </template>
            <template #luyinwenjian="{ scope }">
              <span>{{ scope.row.issoundrecord * 1 ? "有" : "无" }}</span>
            </template>
          </SuperTable>
        </div></template
      >
    </Loading>
  </div>
</template>

<script>
import { defineComponent, reactive, toRefs, watch } from "vue";
import Loading from "@/compontents/Loading.vue";
import SuperTable from "@/compontents/SuperTable.vue";
import app from "@/api";
export default defineComponent({
  // 定义组件的位置
  components: {
    Loading,
    SuperTable,
  },
  setup() {
    // 组件内部状态
    const state = reactive({
      navList: [],
      navListActive: 0,
      searchInp: "",
      // 加载组件开关
      loadFlag: false,
      navStatus: [
        {
          title: "全部",
          status: "",
        },
        {
          title: "通过",
          status: "1",
        },
        {
          title: "未确定",
          status: "2",
        },
        {
          title: "不确定",
          status: "0",
        },
      ],
      navStatusActive: 0,
      tableData: [],
      params: {
        pageNum: 1,
        pageSize: 10,
        status: "",
        searchTitle: "",
        majorId: "",
      },
      rows: [],
      total: 0,
      tableConfig: [
        {
          label: "岗位名称",
          solt: "gangweimingcheng",
          width: "100",
        },
        { prop: "companyName", label: "公司名称", width: "150" },
        { prop: "interviewTime", label: "面试时间", width: "200" },
        { prop: "intervierManagement", label: "面试官", width: "100" },
        { prop: "majorName", label: "专业", width: "250" },
        { prop: "commitName", label: "提交人", width: "100" },
        {
          label: "面试结果",
          solt: "mianshhijieguo",
          width: "150",
        },
        {
          label: "录音文件",
          solt: "luyinwenjian",
          width: "150",
        },
      ],
    });
    // 组件内部方法
    const methods = {
      // 获取专业list
      async selectStationLabel() {
        const res = await app.interview._selectStationLabel();
        if (res.data.code === 200) state.navList = res.data.data;
      },
      // 获取表格数据
      async interviewList() {
        const res = await app.interview._interviewList(null, {
          searchTitle: state.params.searchTitle,
          status: state.params.status,
          pageNum: state.params.pageNum,
          pageSize: state.params.pageSize,
        });
        if (res.data.code === 200) {
          state.tableData = res.data.rows;
          state.total = res.data.total;
        }
      },
      // 切换专业
      changeActive(i, parentId = "") {
        state.params.majorId = parentId;
        state.navListActive = i;
        methods.interviewList();
      },
      // 切换状态
      changeStatus(status, i) {
        state.params.status = status;
        state.navStatusActive = i;
        methods.interviewList();
      },
      handleClick(row) {
        console.log(row);
      },
      currentChange(curPageNum) {
        state.params.pageNum = curPageNum;
        methods.interviewList();
      },
      search() {
        state.params.pageNum = 1;
        methods.interviewList();
      },
    };
    // 初始化执行的函数
    (async () => {
      await methods.selectStationLabel();
      await methods.interviewList();
      state.loadFlag = true;
    })();
    // 监听搜索内容
    watch(
      () => state.params.searchTitle,
      (curVal) => {
        if (curVal === "") methods.interviewList();
      }
    );

    // setup返回
    return {
      ...toRefs(state),
      ...methods,
    };
  },
});
</script>

<style>
.box_model {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.box_model .breadcrumb_box {
  width: 100%;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box_nav {
  width: 100%;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

.box_nav .box_nav_t,
.box_nav .box_nav_b {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box_nav .box_nav_t dt,
.box_nav .box_nav_b dt {
  width: 88px;
  text-align: right;
}

.box_nav .box_nav_t dd,
.box_nav .box_nav_b dd {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.box_nav .box_nav_t dd span,
.box_nav .box_nav_b dd span {
  display: inline-block;
  margin: 0 4px 15px 0;
  padding: 4px 18px;
  font-size: 14px;
  color: #666;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  font-weight: 400;
}

.box_nav .box_nav_t dd span:hover,
.box_nav .box_nav_b dd span:hover {
  color: #ffffff;
  background-color: #739cef;
}

.box_content {
  width: 100%;
  margin: 20px 0;
  background-color: #ffffff;
}

.nAv {
  color: #ffffff !important;
  background-color: #739cef;
}
/*# sourceMappingURL=index.css.map */
</style>
