<template>
  <div class="container">
    <div v-if="flag">Loding...</div>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
export default {
  setup() {
    const state = reactive({
      list: [],
      flag: true,
    });
    return {
      ...toRefs(state),
    };
  },
};
</script>

<style></style>
