<script>
import { reactive, watch } from "vue";
import { useRoute } from "vue-router";
export default {
  setup() {
    const route = useRoute();
    const state = reactive({
      navData: [],
    });
    watch(
      () => {
        return route;
      },
      (val) => {
        state.navData = val.matched;
      },
      {
        immediate: true,
      }
    );
    return () => (
      <el-breadcrumb id="breadcrumb">
        {state.navData.map((item) => {
          return <el-breadcrumb-item>{item.meta.title}</el-breadcrumb-item>;
        })}
      </el-breadcrumb>
    );
  },
};
</script>

<style lang="scss" scoped>
#breadcrumb {
  width: 100%;
  height: 70px;
  background-color: rgba(103, 156, 246, 0.1);
  display: flex;
  align-items: center;
  padding: 0 100px;
  box-sizing: border-box;
}
</style>
