body, html {
  width: 100%;
  min-height: 100%;
  background: #eee;
}

.container {
  width: 1250px;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
}

.breadcrumb_list {
  width: 100%;
  height: 74px;
  background: rgba(103, 156, 246, 0.1);
  display: flex;
  align-items: center;
}

.icont {
  margin-left: 150px;
}
