<template>
  <div class="all">
    <header>
      <div class="nav">
        <div class="nav1">
          <img
            src="http://111.203.59.61:8060/static/img/w_bw.172a76e5.png"
            alt=""
          />
          <div class="nav2">
            <el-menu
              :default-active="activeIndex2"
              class="el-menu-demo"
              mode="horizontal"
              background-color="#545c64"
              text-color="#fff"
              active-text-color="royalblue"
            >
              <el-menu-item index="1">
                <router-link to="/teacher/job">岗位</router-link>
              </el-menu-item>
              <el-menu-item index="2">
                <router-link to="/teacher/project">项目</router-link>
              </el-menu-item>
              <el-submenu index="3">
                <template #title>实训</template>
                <el-menu-item index="2-1"
                  ><router-link to="/teacher/training"
                    >计划</router-link
                  ></el-menu-item
                >
                <el-menu-item index="2-2"
                  ><router-link to="/teacher/schedule"
                    >进度</router-link
                  ></el-menu-item
                >
                <el-menu-item index="2-3"
                  ><router-link to="/teacher/reply"
                    >答辩</router-link
                  ></el-menu-item
                >
                <el-menu-item index="2-4"
                  ><router-link to="/teacher/planManagement"
                    >计划(管理)</router-link
                  ></el-menu-item
                >
              </el-submenu>
              <el-submenu index="4">
                <template #title>面试</template>
                <el-menu-item index="4-1"
                  ><router-link to="/teacher/interviewRecord"
                    >面试记录</router-link
                  ></el-menu-item
                >
                <el-menu-item index="4-2"
                  ><router-link to="/teacher/interviewLeader"
                    >面试记录管理</router-link
                  ></el-menu-item
                >
                <el-menu-item index="4-3"
                  ><router-link to="/teacher/interviewRank"
                    >面试排行榜</router-link
                  ></el-menu-item
                >
              </el-submenu>
              <el-submenu index="5">
                <template #title>问答</template>
                <el-menu-item index="5-1">
                  <router-link to="/teacher/answerList">问答列表</router-link>
                </el-menu-item>
                <el-menu-item index="5-2">
                  <router-link to="/teacher/answerLeader">问答管理</router-link>
                </el-menu-item>
              </el-submenu>
            </el-menu>
          </div>
        </div>
        <b>{{ name }}</b>
        <div class="ss">
          <el-col :span="8">
            <el-dropdown>
              <span class="el-dropdown-link">
                郭老师<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item icon="el-icon-plus"
                    >个人中心</el-dropdown-item
                  >
                  <el-dropdown-item icon="el-icon-circle-plus"
                    >设置</el-dropdown-item
                  >
                  <el-dropdown-item icon="el-icon-circle-plus-outline"
                    >退出</el-dropdown-item
                  >
                </el-dropdown-menu>
              </template>
            </el-dropdown>
          </el-col>
        </div>
      </div>
    </header>
    <main>
      <router-view />
    </main>
    <Footer />
  </div>
</template>
<script>
import { reactive, toRefs } from "vue";
import Footer from "../../compontents/Footer/index.vue";
export default {
  components: {
    Footer,
  },
  setup() {
    let uname = reactive({
      name: "",
      activeIndex2: "1",
    });

    // uname.name = JSON.parse(sessionStorage.getItem('Authorization')).username;
    return {
      ...toRefs(uname),
    };
  },
};
</script>
<style lang="scss" scoped>
.all {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    width: 100%;
    height: 60px;
    display: flex;
    .nav1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .nav2 {
        margin-left: 20px;
        a {
          padding: 10px 12px;
          font-size: 16px;
          text-decoration: none;
        }
      }
    }
    .nav {
      width: 100%;
      height: 60px;
      background: #545c64;
      display: flex;
      justify-content: space-between;
      align-items: center;
      b {
        color: #fff;
        margin-right: 50px;
      }
      img {
        width: 150px;
        height: 40px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
      }
      p {
        color: #fff;
        padding: 20px 30px;
        &:hover {
          background: rgba(0, 0, 0, 0.4);
        }
      }
      .active {
        color: #fff;
      }
    }
  }
  main {
    width: 100%;
    margin-bottom: 25px;
    flex: 1;
  }
  .ss {
    margin-right: 160px;
    color: #fff;
  }
}
</style>
