<template>
  <div class="box_model">
    <!-- 面包屑 -->
    <div data-v-61c94b1b="" class="breadcrumb_box">
      <div data-v-61c94b1b="" class="breadcrumb_list">
        <div
          aria-label="Breadcrumb"
          role="navigation"
          class="el-breadcrumb middle_text"
        >
          <span class="el-breadcrumb__item"
            ><span role="link" class="el-breadcrumb__inner is-link">面试</span
            ><span role="presentation" class="el-breadcrumb__separator"
              >/</span
            ></span
          ><span class="el-breadcrumb__item" aria-current="page"
            ><span role="link" class="el-breadcrumb__inner">面试排行榜</span
            ><span role="presentation" class="el-breadcrumb__separator"
              >/</span
            ></span
          >
        </div>
      </div>
    </div>
    <Loading :flag="loadFlag">
      <template #loading>
        <!-- 导航栏 -->
        <div class="box_nav">
          <dl class="box_nav_t">
            <dt>
              <b>班级：</b>
            </dt>
            <dd>
              <span
                :class="navListActive === 0 ? 'nAv' : ''"
                @click="changeActive()"
                >全部</span
              >
              <span
                v-for="(item, index) in navList"
                :key="item.id"
                :class="navListActive === index + 1 ? 'nAv' : ''"
                @click="changeActive(index + 1, item.id)"
                >{{ item.classname }}</span
              >
            </dd>
          </dl>
        </div>
        <!-- 下方内容 -->
        <div class="box_content">
          <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="面试记录榜单" name="0" />
            <el-tab-pane label="面试题榜单" name="1" />
          </el-tabs>
          <super-table
            :data="list"
            :tableConfig="tableConfig"
            :fenYeTotal="total"
            @currentChange="currentChange"
          >
          </super-table></div
      ></template>
    </Loading>
  </div>
</template>

<script>
import Loading from "@/compontents/Loading.vue";
import { defineComponent, reactive, toRefs } from "vue";
import app from "@/api";
import SuperTable from "@/compontents/SuperTable.vue";
export default defineComponent({
  components: {
    Loading,
    SuperTable,
  },
  setup() {
    const state = reactive({
      loadFlag: false,
      navList: [],
      classId: null,
      navListActive: 0,
      activeName: "0",
      list: [],
      total: 0,
      pageNum: 1,
      pageSize: 10,
      tableConfig: [
        {
          prop: "rangking",
          label: "排名",
        },
        {
          prop: "commitName",
          label: "提交人",
        },
        {
          prop: "count",
          label: "面试记录提交数",
        },
        {
          prop: "className",
          label: "班级",
        },
        {
          prop: "majorName",
          label: "专业",
        },
      ],
    });
    const methods = {
      async getClassInfo() {
        const res = await app.interview._getClassInfo(null, {
          classId: state.classId,
        });
        if (res.data.code === 200) {
          state.navList = res.data.data;
        }
      },
      async interviewRecordRangkingTeacher() {
        const res = await app.interview._interviewRecordRangkingTeacher(null, {
          classId: state.classId,
        });
        if (res.data.code === 200) {
          state.list = res.data.rows;
          state.total = res.data.total;
        }
      },
      async interviewAnswerRangkingTeacher() {
        const res = await app.interview._interviewAnswerRangkingTeacher(null, {
          classId: state.classId,
          pageNum: state.pageNum,
          pageSize: state.pageSize,
        });
        if (res.data.code === 200) {
          state.list = res.data.rows;
          state.total = res.data.total;
        }
      },
      changeActive(i = 0, id = null) {
        state.classId = id;
        state.navListActive = i;
        methods.interviewRecordRangkingTeacher();
      },

      handleClick(tab, event) {
        console.log(tab, event);
        console.log(tab.props.name);
        switch (tab.props.name) {
          case "0":
            methods.interviewRecordRangkingTeacher();
            break;
          case "1":
            methods.interviewAnswerRangkingTeacher();
            break;

          default:
            break;
        }
      },
      currentChange(cur) {
        console.log(cur);
      },
    };
    (async () => {
      await methods.getClassInfo();
      await methods.interviewRecordRangkingTeacher();
      state.loadFlag = true;
    })();
    return {
      ...toRefs(state),
      ...methods,
    };
  },
});
</script>

<style>
.box_model {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.box_model .breadcrumb_box {
  width: 100%;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box_nav {
  width: 100%;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

.box_nav .box_nav_t,
.box_nav .box_nav_b {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box_nav .box_nav_t dt,
.box_nav .box_nav_b dt {
  width: 88px;
  text-align: right;
}

.box_nav .box_nav_t dd,
.box_nav .box_nav_b dd {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.box_nav .box_nav_t dd span,
.box_nav .box_nav_b dd span {
  display: inline-block;
  margin: 0 4px 15px 0;
  padding: 4px 18px;
  font-size: 14px;
  color: #666;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  font-weight: 400;
}

.box_nav .box_nav_t dd span:hover,
.box_nav .box_nav_b dd span:hover {
  color: #ffffff;
  background-color: #739cef;
}

.box_content {
  width: 100%;
  margin: 20px 0;
  background-color: #ffffff;
}

.nAv {
  color: #ffffff !important;
  background-color: #739cef;
}
/*# sourceMappingURL=index.css.map */
</style>
